/* Grid system */
@import url('1000_4_20.css');

.container
{
	width: 1000px;
	margin: 0 auto;
}

.navbar
{
	border-bottom: 20px solid #09f;
	margin-bottom: 20px;

	background-color: #66c2ff;
	
	background-color: #fff;
	
	box-shadow: 0 0 5px #333;
}

.navbar .navbar-brand
{
	float: left;
	margin-right: 10px;
	margin-bottom: -5px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	display: block;
	padding: 25px 10px;
	font-weight: bold;
	font-size: 14pt;
}

.navbar .navbar-nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
	
}

.navbar .navbar-nav li
{
	float: left;
	overflow: auto;
}

.navbar .navbar-nav li a
{
	color: black;
	text-decoration: none;
	display: block;
	padding: 25px 10px 15px 10px;
	border-bottom: 10px solid transparent;
}

.navbar .navbar-nav li a:hover
{
	/*background-color: #CCEBFF;*/
	/*background-color: #f0f9ff;*/
	border-bottom: 10px solid #4c4c4c;
	border-bottom: 10px solid #FF5C33;
	color: #FF5C33;
	
}

#nonFooter
{
	background-color: white;
	min-height: 100%;
}

footer
{
	margin-bottom: 0;
	margin-top: -250px;
	height: 200px;
	padding: 35px 0 15px 0;
	/*box-shadow: 20px 15px 15px #555 inset;*/
	
	
	background-color: #222;
	color: white;
}

footer h2
{
	color: white;
}

footer ul
{
	list-style-type: none;
	padding-left: 15px; 
}

.content
{
	padding-bottom: 250px;
}

.sidebox
{
	margin-bottom: 50px;
}