/* Grid system */


@import url('grids/1000_4_20.css') screen and (min-width: 1000px);

@import url('grids/1400_4_20.css') screen and (min-width: 1400px);


@media screen and (min-width: 1000px)
{
	.container
	{
		width: 1000px;
	}
	
}



@media screen and (min-width: 1400px)
{
	.container
	{
		width: 1400px;
	}
}



.container
{
	
	margin: 0 auto;
}

.content
{
	background-color: white;

	border: 5px solid #0099ff;
	padding: 15px;
	padding-top: 128px;
}

/*  
 *	NAVBAR CODE 
 */


/* Outer div */
.navbar
{
	/* Fixed top test */
	position: fixed;
	width: 100%;
	z-index: 2;
	/* test end */
	
	border-bottom: 20px solid #09f;
	margin-bottom: 20px;

	background-color: #66c2ff;
	
	background-color: #fff;
	

				
}


/* Site name */
.navbar .navbar-brand
{
	float: left;
	margin-right: 10px;
	margin-bottom: -5px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	display: block;
	padding: 17px 10px;
	font-weight: bold;
	font-size: 14pt;
}

.navbar-brand h1
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	font-size: 14pt;
}

.navbar-brand h1 a
{
	color: black;
}

.navbar-brand h1 a:hover
{
	text-decoration: none;
	color: #333;
}


/* Navigation */
.navbar .navbar-nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
	
}

/* Navigation elements */
.navbar .navbar-nav > li
{
	float: left;
	overflow: auto;
}

.navbar .navbar-nav > li > a
{
	color: black;
	text-decoration: none;
	
	display: block;
	
	padding: 20px 10px 10px 10px;
	border-bottom: 10px solid transparent;
	
}

.navbar .navbar-nav > li:hover > a
{
	border-bottom: 10px solid #4c4c4c;
	color: #4c4c4c;
}

.navbar .navbar-nav > li > a:hover
{
	border-bottom: 10px solid #FF5C33;
	color: #A12000;
}


/* special markup for dropdowns while unfolded */
.navbar .navbar-nav > li.dropdown:hover
{
	/*border-left: 1px solid #666;
	border-right: 1px solid #666;*/
}

.navbar .navbar-nav > li.dropdown
{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

/* Navigation sub elements */
.navbar .navbar-nav li > ul
{
	visibility: hidden;
	
	display: inline;
	position: absolute;
	padding: 0px;
	
	opacity: 0;
	transition: opacity .5s, visibility 0s .5s;
	
	
	background-color: white; /* Fallback for older browsers */
	background-color: rgba(255,255,255,0.9);
	list-style-type: none;
	min-width: 250px;
	
	padding: 2px;
	margin-left: -1px;
	margin-top: -1px;
	
	box-shadow: 0px 7px 10px #333;
	
	
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border: 1px solid #666;
}

.navbar .navbar-nav li:hover ul
{
	opacity: 1;
	
	visibility: visible;
	transition: opacity .5s, visibility 0s 0s;
}

.navbar .navbar-nav li ul li
{
	padding: 1px;
}

.navbar .navbar-nav li ul li a
{
	padding: 7px;
	border-left: 10px solid transparent;
	display: block;
}

.navbar .navbar-nav li ul li a:hover
{
	border-left: 10px solid #FF5C33;
	text-decoration: none;
}

/* Hide button */
#displayNavigation
{
	display:none;
}

/*
 * 
 * NAVBAR CODE END
 * 
 */

#nonFooter
{
	background-color: #297ACC;
	background-color: white;
	min-height: 100%;
	overflow: auto;
}

footer
{
	margin-bottom: 0;
	margin-top: -250px;
	height: 200px;
	padding: 35px 0 15px 0;
	/*box-shadow: 20px 15px 15px #555 inset;*/
	/*box-shadow: 0px -5px 10px #333;*/
	
	border-top: 5px solid #0099FF;
	border-bottom: 5px solid #0099FF;
	
	background-color: #222;
	color: #def;
}

footer h2
{
	color: #666;
}

footer ul
{
	list-style-type: none;
	padding-left: 15px; 
}

footer a
{
	color: #aaa;
}

.content
{
	padding-bottom: 250px;
}

.sidebox
{
	margin-bottom: 50px;
}

.bordered
{
	border: 1px solid #ddd;
}
