@viewport
{
	width: device-width;
	zoom: 1;
}

@import url('desktop.css') (min-width: 1000px);
@import url('mobile.css') (max-width: 999px);


/* ### Element Styles ### */
body, html
{
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 36px;
	font-weight: 500;
	color: #333;
}

h2
{
	font-weight: 500;
	font-size: 32px;
	color: #333;
}

hr
{
	border: none;
	border-bottom: 1px solid #ddd;
}

/* Link styles */
a
{
	color: #0077B3;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}


/* Form styles */
input
{
	transition: border .5s;
	margin-bottom: 15px;
}

input:not([type='submit'])
{
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px;
	
}

input:focus, input[type='submit']:hover
{
	border: 1px solid #66c2ff;
}

input[type='submit']
{
	border: 1px solid #ddd;
	padding: 5px;
}

