@CHARSET "UTF-8";

.mod_article_info
{
	font-size: 11pt;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.mod_article_entry
{
	margin-bottom: 25px;
	margin-top: 25px;
	border: 1px solid #ddd;
	padding: 15px;
}


.article_comments
{
	margin-bottom: 50px;
}

.comment_entry
{
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
}

.comment_content
{
	clear: both;
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 15px;
}

.profile_picture
{
	margin-bottom: 5px;
	margin-right: 15px;
	float: left;
}
