@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;
	
	background-color: #aaa;
}
.container
{
	margin: 25px auto;
	width: 1024px;
	padding: 10px;
	
	border: 0px solid black;
	border-radius: 6px;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .5);
	
	background-color: #fff;
}

header
{
	text-align: center;
	margin: 0 5px;
	border-bottom: 1px solid black;
}

header h1
{
	margin: 5px;
}

nav
{
	float: left;
	min-height: 300px;
	width: 20%;
	border-right: 1px solid black;
	margin: 10px;
	margin-top: 0px;
}

nav ul
{
	list-style-type: none;
	padding: 5px;
	margin: 5px;
	margin-top: 0;
}

nav ul li a
{
	transition: background 5s;
	color: black;
	text-decoration: none;
	padding: 3px 3px 3px 40px;
	display: block;
}

nav ul li a:hover
{
	background: linear-gradient(to right, rgba(200,200,200,1) 0%,rgba(221,221,221,0) 100%);
	border: 0px solid black;
	border-radius: 2px;
}

article
{
	margin: 10px;
	margin-left: 21%;
	padding: 5px;
}

footer
{
	clear: both;
	border-top: 1px solid black ;
	text-align: center;
}